<h1> New Todo</h1>

<%= form_with model: @todo_entries do |form|%>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @todo_entries.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
    <% @todo_entries.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
  <a href="/todo_entries/">Back</a>
<% end%>